<script type="text/javascript" src="scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../scripts/breadcrumbs.js"></script>
<script type="text/javascript" src="../scripts/chkbox.js"></script>
<script type="text/javascript" src="../scripts/dropdown.js"></script>
<script type="text/javascript" src="../scripts/select.js"></script>
<script type="text/javascript" src="../scripts/profile-card.js"></script>
<script type="text/javascript" src="../scripts/profile-area.js"></script>
<script type="text/javascript" src="../scripts/radio.js"></script>
<script type="text/javascript" src="../scripts/alert.js"></script>
<script type="text/javascript" src="scripts/pages.js"></script>
