include 'header.html'

<div class="container">
    <h2>Alerts</h2>

    <div class="demo-section">
        <div class="alert alert-success"><b>Success!</b> You successfully read this important alert message.</div>
    </div>

    <div class="demo-section">
        <div class="alert alert-info"><b>Heads up!</b> This alert needs your attention, but it's not super important.</div>
    </div>

    <div class="demo-section">
        <div class="alert alert-warning"><b>Warning!</b> Better check yourself, you're not looking too good.</div>
    </div>

    <div class="demo-section">
        <div class="alert alert-danger"><b>Error!</b> Change a few things up and try submitting again.</div>
    </div>

    <h2>Dismissable alerts</h2>

    <div class="demo-section">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <b>Success!</b> This success alert div has a close button.
        </div>
    </div>

</div>

include 'footer.html'
