include 'header.html'

<div class="container">
    <h2>Attendees</h2>

    <h3>List of attendees</h3>

    <div class="attendees">
        <div class="attendees-header row">
            <h2 class="col-xs-10 col-sm-6 attendees-title">Network with like-minded attendees</h2>
            <button class="col-xs-2 col-sm-6 show-more-attendees-button">
                <span class="show-more-attendees-text hidden-xs">More attendees</span>
                <b class="show-more-attendees-icon fa fa-refresh"></b>
            </button>
        </div>

        <div>
            <ul class="profile-cards row">
                <li class="col-xs-12 col-sm-6 profile-card-wrapper animate">
                    <div class="profile-card">
                        <div class="profile-card-image-wrapper profile-card-add-photo">
                            <form class="profile-card-image-form">
                                <input type="file" class="profile-card-upload-photo-button">
                                <b class="fa fa-camera"></b>Add a photo
                            </form>
                        </div>
                        <ul class="profile-card-details">
                            <li class="profile-card-detail profile-card-name">John Smith</li>
                            <li class="profile-card-detail profile-card-job-title">Sales executive</li>
                            <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
                            <li class="profile-card-detail profile-card-country">United Kingdom</li>
                        </ul>
                    </div>
                </li>

                <li class="col-xs-12 col-sm-6 profile-card-wrapper animate">
                    <div class="profile-card">
                        <div class="profile-card-image-wrapper"></div>
                        <ul class="profile-card-details">
                            <li class="profile-card-detail profile-card-name">John Smith</li>
                            <li class="profile-card-detail profile-card-job-title">Sales executive</li>
                            <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
                            <li class="profile-card-detail profile-card-country">United Kingdom</li>
                        </ul>
                    </div>
                </li>

                <li class="col-xs-12 col-sm-6 profile-card-wrapper animate">
                    <div class="profile-card">
                        <div class="profile-card-image-wrapper"></div>
                        <ul class="profile-card-details">
                            <li class="profile-card-detail profile-card-name">John Smith</li>
                            <li class="profile-card-detail profile-card-job-title">Sales executive</li>
                            <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
                            <li class="profile-card-detail profile-card-country">United Kingdom</li>
                        </ul>
                    </div>
                </li>

                <li class="col-xs-12 col-sm-6 profile-card-wrapper animate">
                    <div class="profile-card">
                        <div class="profile-card-image-wrapper"></div>
                        <ul class="profile-card-details">
                            <li class="profile-card-detail profile-card-name">John Smith</li>
                            <li class="profile-card-detail profile-card-job-title">Sales executive</li>
                            <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
                            <li class="profile-card-detail profile-card-country">United Kingdom</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="opt-out-controls">
                <button class="opt-out-button">Hide me from other attendees</button>
            </div>
        </div>
    </div>


    <h3>Loading more attendees</h3>

    <div class="attendees">
        <div class="attendees-header row">
            <h2 class="col-xs-10 col-sm-6 attendees-title">Network with like-minded attendees</h2>
            <div class="col-xs-2 col-sm-6 show-more-attendees-loading-icon-wrapper">
                <b class="fa fa-spinner fa fa-spin show-more-attendees-loading-icon"></b>
            </div>
        </div>

        <div>
            <ul class="profile-cards row">
                <li class="col-xs-12 col-sm-6 profile-card-wrapper animate">
                    <div class="profile-card">
                        <div class="profile-card-image-wrapper profile-card-add-photo">
                            <form class="profile-card-image-form">
                                <input type="file" class="profile-card-upload-photo-button">
                                <b class="fa fa-camera"></b>Add a photo
                            </form>
                        </div>
                        <ul class="profile-card-details">
                            <li class="profile-card-detail profile-card-name">John Smith</li>
                            <li class="profile-card-detail profile-card-job-title">Sales executive</li>
                            <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
                            <li class="profile-card-detail profile-card-country">United Kingdom</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="opt-out-controls">
                <button class="opt-out-button">Hide me from other attendees</button>
            </div>
        </div>
    </div>

</div>
include 'footer.html'
