include 'header.html'

<div class="container">
    <h2>Badges</h2>

    <div class="demo-section">
        <span class="badge">default</span>
    </div>

    <div class="demo-section">
        <span class="badge primary">primary</span>
    </div>

    <div class="demo-section">
        <span class="badge secondary">secondary</span>
    </div>

    <div class="demo-section">
        <span class="badge task">task</span>
    </div>

    <div class="demo-section">
        <span class="badge danger">danger</span>
    </div>

</div>

include 'footer.html'
