include 'header.html'

<div class="container">
    <h2>Block menu</h2>

    <div class="demo-section">
        <h3>Basic styles (without links)</h3>

        <ul class="block-menu" style="width: 250px">
            <li class="block-menu-item block-menu-item-selected">This item is selected</li>
            <li class="block-menu-item">Another item, not selected</li>
            <li class="block-menu-item">And another</li>
        </ul>
    </div>

    <div class="demo-section">
        <h3>With links</h3>

        <ul class="block-menu" style="width: 250px">
            <li style="margin: 0">
                <a href="#" class="block-menu-item">Not selected</a>
            </li>
            <li style="margin: 0">
                <a href="#" class="block-menu-item block-menu-item-selected">Selected</a>
            </li>
            <li style="margin: 0">
                <a href="#" class="block-menu-item">And another</a>
            </li>
        </ul>
    </div>

    <div class="demo-section">
        <h3>Inline with links</h3>

        <ul class="block-menu block-menu-inline">
            <li>
                <a href="#" class="block-menu-item block-menu-item-selected">Selected</a>
            </li>
            <li>
                <a href="#" class="block-menu-item">Not selected</a>
            </li>
            <li>
                <a href="#" class="block-menu-item">And another</a>
            </li>
        </ul>
    </div>

    <div class="demo-section">
        <h3>Inline with buttons</h3>

        <ul class="block-menu block-menu-inline">
            <li>
                <button class="block-menu-item block-menu-item-selected">Selected</button>
            </li>
            <li>
                <button class="block-menu-item">Not selected</button>
            </li>
            <li>
                <button class="block-menu-item">And another</button>
            </li>
        </ul>
    </div>
</div>

include 'footer.html'
