include 'header.html'

<div class="container">
    <h2>Block tabs</h2>

    <div class="demo-section">
        <ul class="block-tabs" style="margin-bottom: 10px;">
            <li class="block-tab block-tab-active"><a href="#" class="block-tab-link">Active tab</a></li>
            <li class="block-tab"><a href="#" class="block-tab-link">Secondary tab</a></li>
        </ul>
    </div>

    <div class="demo-section">
        <ul class="block-tabs" style="margin-bottom: 10px;">
            <li class="block-tab"><a href="#" class="block-tab-link">Secondary tab</a></li>
            <li class="block-tab block-tab-active"><a href="#" class="block-tab-link">Active tab</a></li>
        </ul>
    </div>

    <div class="demo-section">
        <ul class="block-tabs">
            <li class="block-tab"><a href="#" class="block-tab-link">Tab 1</a></li>
            <li class="block-tab"><a href="#" class="block-tab-link">Tab 2</a></li>
            <li class="block-tab"><a href="#" class="block-tab-link">Tab 3</a></li>
            <li class="block-tab block-tab-active"><a href="#" class="block-tab-link">Tab 4</a></li>
            <li class="block-tab"><a href="#" class="block-tab-link">Tab 5</a></li>
        </ul>
    </div>

    <h3>Functionality</h3>

    <p>This style guide does not supply the ability to switch between tabs. This functionality should be covered by the implementation.</p>
</div>

include 'footer.html'
