include 'header.html'

<div class="container">
    <h2>Breadcrumbs</h2>

    <div class="demo-section">
        <div class="breadcrumb-stripe">
            <div class="container">
                <div class="breadcrumb-wrapper">
                    <button class="breadcrumb-button breadcrumb-button">Browse communities <i class="fa fa-caret-down"></i></button>
                    <ul class="breadcrumb-menu breadcrumb-menu-hidden">
                        <li class="breadcrumb-menu-item">
                            <a class="breadcrumb-menu-item-link" href="#">
                                <span class="breadcrumb-menu-item-text">Breadcrumb element 1</span>
                            </a>
                        </li>
                        <li class="breadcrumb-menu-item">
                            <a class="breadcrumb-menu-item-link" href="#">
                                <span class="breadcrumb-menu-item-text">Breadcrumb element 2</span>
                            </a>
                        </li>
                        <li class="breadcrumb-menu-item">
                            <a class="breadcrumb-menu-item-link" href="#">
                                <span class="breadcrumb-menu-item-text">Breadcrumb element 3</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="breadcrumb-wrapper">
                    <button class="breadcrumb-button breadcrumb-button">Browse communities <i class="fa fa-caret-down"></i></button>
                    <ul class="breadcrumb-menu breadcrumb-menu-hidden">
                        <li class="breadcrumb-menu-item">
                            <a class="breadcrumb-menu-item-link" href="#">
                                <span class="breadcrumb-menu-item-text">Breadcrumb element 1</span>
                            </a>
                        </li>
                        <li class="breadcrumb-menu-item">
                            <a class="breadcrumb-menu-item-link" href="#">
                                <span class="breadcrumb-menu-item-text">Breadcrumb element 2</span>
                            </a>
                        </li>
                        <li class="breadcrumb-menu-item">
                            <a class="breadcrumb-menu-item-link-active breadcrumb-menu-item-link" href="#">
                                <span class="breadcrumb-menu-item-text">Current community</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="breadcrumb-link-wrapper">
                    <a class="breadcrumb-link" href="#">Current community</a>
                </div>
            </div>
        </div>
    </div>

    <div class="demo-section">
        <h3>Single menu</h3>

        <div class="breadcrumb-stripe">
            <div class="container">
                <div class="breadcrumb-wrapper">
                    <button class="breadcrumb-button breadcrumb-button">Browse communities <i class="fa fa-caret-down"></i></button>
                    <ul class="breadcrumb-menu breadcrumb-menu-hidden">
                        <li class="breadcrumb-menu-item">
                            <a class="breadcrumb-menu-item-link" href="#">
                                <span class="breadcrumb-menu-item-text">Breadcrumb element 1</span>
                            </a>
                        </li>
                        <li class="breadcrumb-menu-item">
                            <a class="breadcrumb-menu-item-link" href="#">
                                <span class="breadcrumb-menu-item-text">Breadcrumb element 2</span>
                            </a>
                        </li>
                        <li class="breadcrumb-menu-item">
                            <a class="breadcrumb-menu-item-link" href="#">
                                <span class="breadcrumb-menu-item-text">Breadcrumb element 3</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="demo-section">
<code class="code-example">
&lt;div class=&quot;breadcrumb-stripe&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;breadcrumb-wrapper&quot;&gt;
            &lt;button class=&quot;breadcrumb-button breadcrumb-button&quot;&gt;Browse communities &lt;i class=&quot;fa fa-caret-down&quot;&gt;&lt;/i&gt;&lt;/button&gt;
            &lt;ul class=&quot;breadcrumb-menu breadcrumb-menu-hidden&quot;&gt;
                &lt;li class=&quot;breadcrumb-menu-item&quot;&gt;
                    &lt;a class=&quot;breadcrumb-menu-item-link&quot; href=&quot;#&quot;&gt;
                        &lt;span class=&quot;breadcrumb-menu-item-text&quot;&gt;Breadcrumb element 1&lt;/span&gt;
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;breadcrumb-menu-item&quot;&gt;
                    &lt;a class=&quot;breadcrumb-menu-item-link&quot; href=&quot;#&quot;&gt;
                        &lt;span class=&quot;breadcrumb-menu-item-text&quot;&gt;Breadcrumb element 2&lt;/span&gt;
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;breadcrumb-menu-item&quot;&gt;
                    &lt;a class=&quot;breadcrumb-menu-item-link&quot; href=&quot;#&quot;&gt;
                        &lt;span class=&quot;breadcrumb-menu-item-text&quot;&gt;Breadcrumb element 3&lt;/span&gt;
                    &lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class=&quot;breadcrumb-wrapper&quot;&gt;
            &lt;button class=&quot;breadcrumb-button breadcrumb-button&quot;&gt;Browse communities &lt;i class=&quot;fa fa-caret-down&quot;&gt;&lt;/i&gt;&lt;/button&gt;
            &lt;ul class=&quot;breadcrumb-menu breadcrumb-menu-hidden&quot;&gt;
                &lt;li class=&quot;breadcrumb-menu-item&quot;&gt;
                    &lt;a class=&quot;breadcrumb-menu-item-link&quot; href=&quot;#&quot;&gt;
                        &lt;span class=&quot;breadcrumb-menu-item-text&quot;&gt;Breadcrumb element 1&lt;/span&gt;
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;breadcrumb-menu-item&quot;&gt;
                    &lt;a class=&quot;breadcrumb-menu-item-link&quot; href=&quot;#&quot;&gt;
                        &lt;span class=&quot;breadcrumb-menu-item-text&quot;&gt;Breadcrumb element 2&lt;/span&gt;
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;breadcrumb-menu-item&quot;&gt;
                    &lt;a class=&quot;breadcrumb-menu-item-link&quot; href=&quot;#&quot;&gt;
                        &lt;span class=&quot;breadcrumb-menu-item-text&quot;&gt;Breadcrumb element 3&lt;/span&gt;
                    &lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</div>
    </div>

    <div class="container">
        <h3>JavaScript file</h3>

        <p>A breadcrumbs JavaScript file is required:</p>

        <code class="code-example">&lt;script type="text/javascript" src="path/to/script/breadcrumbs.js"&gt;&lt;/script&gt;</code>
    </div>

include 'footer.html'
