include 'header.html'

<div class="container">
    <h2>Burger button</h2>

    <p>
        <a href="#" class="burger-button"><i class="fa fa-reorder"></i></a>
    </p>

    <code>&lt;a href=&quot;#&quot; class=&quot;burger-button&quot;&gt;&lt;i class=&quot;fa fa-reorder&quot;&gt;&lt;/i&gt;&lt;/a&gt;</code>
</div>

include 'footer.html'
