include 'header.html'

<div class="container">

    <div class="demo-section">

        <h2>Buttons</h2>

        <p>BrightTALK buttons use <a href="http://getbootstrap.com/css/#buttons">Bootstrap Buttons</a> with some simple variable overloading.</p>

        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-secondary">Secondary</button>
        <button class="btn btn-tertiary">Tertiary</button>
        <button class="btn btn-task">Task</button>
        <button class="btn btn-danger">Danger</button>
        <button class="btn btn-link">Link</button>

        <h3>Sizes</h3>

        <button class="btn btn-primary btn-lg">Large</button>
        <button class="btn btn-primary">Regular</button>
        <button class="btn btn-primary btn-sm">Small</button>
        <button class="btn btn-primary btn-xs">Extra small</button>
    </div>

    <div class="demo-section">
        <h3>Toggle buttons</h3>
        <p>A toggle button can be used for a toggle on and off effect. An example of a watch later toggle button would have two states. The first is the default off state:</p>
    </div>

    <div class="demo-section">
        <button class="btn btn-toggle">
            <span class="fa fa-clock-o"></span>
            Watch later
        </button>
    </div>

    <div class="demo-section">
        <p>By adding the <code class="code-example-inline">btn-toggle-on</code> class, the icon is automatically converted to a font awesome check:</p>
    </div>

    <div class="demo-section">
        <button class="btn btn-toggle btn-toggle-on">
            <span class="fa fa-clock-o"></span>
            Watch later
        </button>
    </div>

    <div class="demo-section">
        <h3>State options</h3>
        <button class="btn btn-primary btn-sm do-not-disable">Toggle disabled state</button>
    </div>
</div>

include 'footer.html'
