include 'header.html'

<div class="container">
    <h2>Dropdowns</h2>

    <div style="margin-bottom: 100px">
        <div class="dropdown">
            <button class="btn btn-primary btn-lg" data-toggle="dropdown">Dropdown <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-apple"></i> Menu element 1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-windows"></i> Menu element 2</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google"></i> Menu element 2</a>
                </li>
            </ul>
        </div>
    </div>

    <code class="code-example">&lt;div class="dropdown"&gt;
    &lt;button class="btn primary large dropdown-toggle"&gt;Dropdown &lt;i class="fa fa-caret-down"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;ul class="dropdown-menu"&gt;
        &lt;li&gt;
            &lt;a href="#"&gt;&lt;i class="fa fa-apple"&gt;&lt;/i&gt; Menu element 1&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="#"&gt;&lt;i class="fa fa-windows"&gt;&lt;/i&gt; Menu element 2&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="#"&gt;&lt;i class="fa fa-google-plus"&gt;&lt;/i&gt; Menu element 3&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</code>

    <div style="margin-bottom: 100px">
        <div class="dropdown full-width-xs">
            <button class="btn btn-primary btn-lg" data-toggle="dropdown">Dropdown <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-apple"></i> Menu element 1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-windows"></i> Menu element 2</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google"></i> Menu element 2</a>
                </li>
            </ul>
        </div>
    </div>

</div>

include 'footer.html'
