include 'header.html'

<div class="container">
    <h2>Footer</h2>

    <p>The site-wide BrightTALK footer</p>
</div>

<div class="site-footer">
    <p class="site-footer-headline">Are you a marketer?<br class="visible-xs-inline"> <a class="site-footer-headline-link" href="#">Learn more</a> about how BrightTALK can help you.</p>
    <ul class="site-footer-link-list">
        <li class="site-footer-link-list-item"><a class="site-footer-link" href="#">About us</a></li>
        <li class="site-footer-link-list-item"><a class="site-footer-link" href="#">Blog</a></li>
        <li class="site-footer-link-list-item"><a class="site-footer-link" href="#">User agreement</a></li>
        <li class="site-footer-link-list-item"><a class="site-footer-link" href="#">Privacy policy</a></li>
        <li class="site-footer-link-list-item"><a class="site-footer-link" href="#">Support</a></li>
        <li class="site-footer-link-list-item"><a class="site-footer-link" href="#">Presenter access</a></li>
    </ul>
    <p class="site-footer-copyright">&copy;2015 BrightTALK</p>
</div>

<div class="container">
    <p>Respond.js is required to make the Grid system work in IE6-8:</p>

    <code>&lt;!--[if lt IE 9]&gt;
    &lt;script type="text/javascript" src="path/to/script/respond.js"&gt;&lt;/script&gt;
&lt;![endif]--&gt;</code>

    <p>An additional CSS file for IE6-7 is required to accommodate for the box-sizing rule:</p>

    <code>&lt;!--[if lt IE 8]&gt;
    &lt;link href="path/to/styles/grid-ie7.css" rel="stylesheet"&gt;
&lt;![endif]--&gt;</code>

    <!--[if lt IE 9]>
        <script type="text/javascript" src="../scripts/respond.js"></script>
    <![endif]-->
</div>

include 'footer.html'
