include 'header.html'

<div class="container">
    <h1>Forms</h1>
    <h2>Checkboxes</h2>

    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Element</th>
                <th>Class name</th>
                <th colspan="2">Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Checkbox</td>
                <td>input[type="checkbox"]</td>
                <td>chkbox</td>
                <td>
                    <label class="chkbox">
                        <input type="checkbox" name="checkbox" checked>Option 1
                    </label>
                </td>
                <td>
                    <label class="chkbox">
                        <input type="checkbox" name="checkbox">Option 2
                    </label>
                </td>
            </tr>
            <tr>
                <td>Checkbox</td>
                <td>a</td>
                <td>chkbox</td>
                <td>
                    <a href="" class="chkbox chkbox-checked">Option checked</a>
                </td>
                <td>
                    <a href="" class="chkbox">Option</a>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Label and checkbox input</h3>

    <code>&lt;label class="chkbox"&gt;
    &lt;input type="checkbox" name="checkbox"&gt; Checkbox
&lt;/label&gt;</code>

    <h3>JavaScript file</h3>

    <p>A checkbox JavaScript file is required:</p>

    <code>&lt;script type="text/javascript" src="path/to/script/chkbox.js"&gt;&lt;/script&gt;</code>

    <h3>Anchor</h3>

    <code>&lt;a class="chkbox chkbox-checked"&gt;Link checked&lt;/a&gt;
&lt;a class="chkbox"&gt;Link&lt;/a&gt;</code>

    <p>The anchor method will obviously change URL when clicked. Therefore, the template engine of the client should add/remove the chkbox-checked class.</p>


    <h2>Radio buttons</h2>

    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Element</th>
                <th>Class name</th>
                <th colspan="2">Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Radio button</td>
                <td>input[type="radio"]</td>
                <td>radio</td>
                <td>
                    <label class="radio">
                        <input type="radio" name="radio" checked>Yes
                    </label>
                </td>
                <td>
                    <label class="radio">
                        <input type="radio" name="radio">No
                    </label>
                </td>
            </tr>
            <tr>
                <td>Radio button</td>
                <td>a</td>
                <td>radio</td>
                <td>
                    <a href="#" class="radio radio-checked" data-name="radio">Yes</a>
                </td>
                <td>
                    <a href="#" class="radio" data-name="radio">No</a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Label and radio input</h2>

    <code>&lt;label class="radio"&gt;
    &lt;input type="radio" name="radio"&gt;Radio
&lt;/label&gt;</code>

    <p>A radio JavaScript file is required to make the label and radio input method work:</p>

    <code>&lt;script type="text/javascript" src="path/to/script/radio.js"&gt;&lt;/script&gt;</code>

    <h3>Anchor</h3>

    <code>&lt;a class="radio radio-checked"&gt;Link checked&lt;/a&gt;
&lt;a class="radio"&gt;Link&lt;/a&gt;</code>

    <p>The anchor method will obviously change URL when clicked. Therefore, the template engine of the client should add/remove the radio-checked class.</p>

    <h2>Text input</h2>

    <div>
      <input type="text" class="input-text" placeholder="Type your value">
    </div>

    <br>

    <code>&lt;input type=&quot;text&quot; class=&quot;input-text&quot; placeholder=&quot;Type your value&quot; &gt;</code>

    <br/>

    <h2>Text input with icon</h2>

    <div>
        <div class="input-group">
            <input type="text" class="input-group-input" placeholder="Type your value">
            <span class="input-group-icon"><i class="fa fa-star"></i></span>
        </div>
    </div>

    <br/>

    <code>
&lt;div class=&quot;input-group&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;input-group-input&quot;&gt;

    &lt;span class=&quot;input-group-icon&quot;&gt;
        &lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;
    &lt;/span&gt;
&lt;/div&gt;</code>


    <h2>Select</h2>

    <div>
      <select class="select">
          <option value>-- Select an option --</option>
          <option value="value-1">Option 1</option>
          <option value="value-2">Option 2</option>
          <option value="value-3">Option 3</option>
      </select>
    </div>

    <br/>

    <code>
&lt;select class=&quot;select&quot;&gt;
    &lt;option value=&quot;&gt;-- Select an option --&lt;/option&gt;
    &lt;option value=&quot;value-1&quot;&gt;Option 1&lt;/option&gt;
    &lt;option value=&quot;value-2&quot;&gt;Option 2&lt;/option&gt;
    &lt;option value=&quot;value-3&quot;&gt;Option 3&lt;/option&gt;
&lt;/select&gt;</code>

  <h2>Textarea</h2>
  <div>
    <textarea class="textarea">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt ut nibh quis ultricies. Aliquam eu nisi sed turpis mollis semper. Nunc sit amet tincidunt lectus. Nullam sed magna tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum iaculis pulvinar dictum. Nulla facilisi.</textarea>
  </div>
  <code>
&lt;textarea class="textarea"&gt;Lorem ipsum dolor sit amet...&lt;/textarea&gt;</code>

    <h3>JavaScript file</h3>

    <p>A select JavaScript file is required:</p>

    <code>&lt;script type="text/javascript" src="path/to/script/select.js"&gt;&lt;/script&gt;</code>

    <h2>Validation errors</h2>

    <input type="text" class="input-text error" placeholder="Type your value" id="fieldError">
    <label for="fieldError" class="error">Please complete.</label>

    <h2>Form control</h2>

    <div>
        <div class="form-control">
            <label class="field-label" for="fieldError">Field label</label>
            <input type="text" class="input-text" placeholder="Type your value" id="fieldError">
            <label for="fieldError" class="error">Please complete.</label>
        </div>

        <div class="form-control">
            <label class="field-label" for="fieldError">Field label</label>
            <input type="text" class="input-text" placeholder="Type your value" id="fieldError">
            <label for="fieldError" class="error">Please complete.</label>
        </div>

        <div class="form-control">
            <label class="field-label" for="fieldError">Field label</label>
            <input type="text" class="input-text" placeholder="Type your value" id="fieldError">
            <label for="fieldError" class="error">Please complete.</label>
        </div>
    </div>

    <code>
&lt;div class=&quot;form-control&quot;&gt;
    &lt;label class=&quot;field-label&quot; for=&quot;fieldError&quot;&gt;Field label&lt;/label&gt;
    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; placeholder=&quot;Type your value&quot; id=&quot;fieldError&quot;&gt;
    &lt;label for=&quot;fieldError&quot; class=&quot;error&quot;&gt;Please complete.&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;form-control&quot;&gt;
    &lt;label class=&quot;field-label&quot; for=&quot;fieldError&quot;&gt;Field label&lt;/label&gt;
    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; placeholder=&quot;Type your value&quot; id=&quot;fieldError&quot;&gt;
    &lt;label for=&quot;fieldError&quot; class=&quot;error&quot;&gt;Please complete.&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;form-control&quot;&gt;
    &lt;label class=&quot;field-label&quot; for=&quot;fieldError&quot;&gt;Field label&lt;/label&gt;
    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; placeholder=&quot;Type your value&quot; id=&quot;fieldError&quot;&gt;
    &lt;label for=&quot;fieldError&quot; class=&quot;error&quot;&gt;Please complete.&lt;/label&gt;
&lt;/div&gt;</code>
</div>

include 'footer.html'
