include 'header.html'

<div class="container">
    <div class="container-fluid">

        <h2>Grid</h2>

        <p>Grid uses the Twitter Bootstrap Grid System. Below is an example:</p>

        <div class="row">
            <div class="col-md-3" style="background: #ccc">
                <div style="background: #aaa">Three columns</div>
            </div>
            <div class="col-md-6" style="background: #ccc">
                <div style="background: #aaa">Six columns</div>
            </div>
            <div class="col-md-3" style="background: #ccc">
                <div style="background: #aaa">Three columns</div>
            </div>
        </div>

        <p>Respond.js is required to make the Grid system work in IE6-8:</p>

        <code>&lt;!--[if lt IE 9]&gt;
    &lt;script type="text/javascript" src="path/to/script/respond.js"&gt;&lt;/script&gt;
&lt;![endif]--&gt;</code>

        <p>An additional CSS file for IE6-7 is required to accommodate for the box-sizing rule:</p>

    <code>&lt;!--[if lt IE 8]&gt;
    &lt;link href="path/to/styles/grid-ie7.css" rel="stylesheet"&gt;
&lt;![endif]--&gt;</code>
    </div>



    <!--[if lt IE 9]>
        <script type="text/javascript" src="../scripts/respond.js"></script>
    <![endif]-->
</div>

include 'footer.html'
