include 'header.html'

<div class="container">

    <h2>Headings</h2>

    <p>Headings are used for document structure. The h1 tag should be used for the main title of the page, h2 for sub-headings and so on.</p>

    <h1>h1 heading</h1>

</div>

include 'footer.html'
