include 'header.html'

<div class="container">
    <h2>Icons</h2>

    <p>Icons use the <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font Awesome</a> library. Below are some examples.</p>

    <table>
        <thead>
            <tr>
                <th>Class name</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>fa fa-apple</td>
                <td><span class="fa fa-apple"></span></td>
            </tr>
            <tr>
                <td>fa fa-cut</td>
                <td><span class="fa fa-cut"></span></td>
            </tr>
            <tr>
                <td>fa fa-chevron-right</td>
                <td><span class="fa fa-chevron-right"></span></td>
            </tr>
            <tr>
                <td>fa fa-play</td>
                <td><span class="fa fa-play"></span></td>
            </tr>
            <tr>
                <td>fa fa-windows</td>
                <td><span class="fa fa-windows"></span></td>
            </tr>
            <tr>
                <td>fa fa-linkedin</td>
                <td><span class="fa fa-linkedin"></span></td>
            </tr>
        </tbody>
    </table>
</div>

include 'footer.html'