include 'header.html'

<div class="container">
    <h2>Styles and elements</h2>

    <ul>
        <li><a href="alerts.html">Alerts</a></li>
        <li><a href="attendees.html">Attendees</a></li>
        <li><a href="badges.html">Badges</a></li>
        <li><a href="block-menu.html">Block menu</a></li>
        <li><a href="block-tabs.html">Block tabs</a></li>
        <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
        <li><a href="burger-button.html">Burger button</a></li>
        <li><a href="buttons.html">Buttons</a></li>
        <li><a href="dropdowns.html">Dropdowns</a></li>
        <li><a href="font.html">Font</a></li>
        <li><a href="footer.html">Footer</a></li>
        <li><a href="form.html">Form</a></li>
        <li><a href="grid.html">Grid</a></li>
        <li><a href="heading.html">Headings</a></li>
        <li><a href="icons.html">Icons</a></li>
        <li><a href="joyride.html">Joyride</a></li>
        <li><a href="link.html">Link</a></li>
        <li><a href="metro.html">Metro layout</a></li>
        <li><a href="modal.html">Modal</a></li>
        <li><a href="preregistration-confirmation.html">Preregistration confirmation</a></li>
        <li><a href="profile-card.html">Profile card</a></li>
        <li><a href="profile-area.html">Profile area</a></li>
        <li><a href="typography.html">Typography</a></li>
        <li><a href="tags.html">Tags</a></li>
        <li><a href="webcast-card.html">Webcast card</a></li>
    </ul>

    <h3>Implementation</h3>

    <p>This style guide requires jQuery to function correctly.</p>
</div>

include 'footer.html'
