include 'header.html'

<div class="container">
    <h2>Joyride</h2>

    <div style="height: 100px; position: relative">

        <div class="joyride" style="left: 200px; top: 0">

            <div class="joyride-content">

                <div class="row">

                    <div class="joyride-close-button-wrapper col-xs-12">

                        <button class="joyride-close-button btn btn-link"><b class="joyride-close-button-icon"></b></button>
                    </div>
                </div>

                <div class="joyride-info">

                    <div class="row">

                        <div class="joyride-title col-xs-12">Joyride title</div>
                    </div>

                    <div class="row">

                        <div class="joyride-description col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum rhoncus ipsum vitae commodo. Quisque tincidunt quam vel lorem vulputate sodales. Nam nunc orci, placerat eu.</div>
                    </div>

                    <div class="row">

                        <div class="joyride-controls col-xs-12">

                            <button class="joyride-got-it-button btn btn-task btn-sm">Got it</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

include 'footer.html'
