include 'header.html'

<div class="container">
    <h2>Link</h2>

    <a href="#" class="link">This is a link</a>

    <code>&lt;a href=&quot;#&quot; class=&quot;link&quot;&gt;This is a link&lt;/a&gt;</code>
</div>

include 'footer.html'
