include 'header.html'

<div class="container">
    <h2>Metro layout</h2>
    <div class="metro-grid">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-6">
                        <a class="metro-grid-tile medium-v" href="#">
                            <img class="metro-grid-tile-image" src="images/medium-v-366x506.jpg">
                            <span class="metro-grid-tile-name">Medium vertical</span>
                        </a>
                    </div>

                    <div class="col-xs-6">
                        <a class="metro-grid-tile small" href="#">
                            <img class="metro-grid-tile-image" src="images/small-366x248.jpg">
                            <span class="metro-grid-tile-name">Small</span>
                        </a>
                        <a class="metro-grid-tile small" href="#">
                            <img class="metro-grid-tile-image" src="images/small-366x248.jpg">
                            <span class="metro-grid-tile-name">Small</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a class="metro-grid-tile large" href="#">
                    <img class="metro-grid-tile-image" src="images/large-742x506.jpg">
                    <span class="metro-grid-tile-name">Large</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <a class="metro-grid-tile large" href="#">
                    <img class="metro-grid-tile-image" src="images/large-742x506.jpg">
                    <span class="metro-grid-tile-name">Large</span>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a class="metro-grid-tile medium-h" href="#">
                    <img class="metro-grid-tile-image" src="images/medium-h-742x248.jpg">
                    <span class="metro-grid-tile-name">Medium horizontal</span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a class="metro-grid-tile small" href="#">
                    <img class="metro-grid-tile-image" src="images/small-366x248.jpg">
                    <span class="metro-grid-tile-name">Small</span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a class="metro-grid-tile small" href="#">
                    <img class="metro-grid-tile-image" src="images/small-366x248.jpg">
                    <span class="metro-grid-tile-name">Small</span>
                </a>
            </div>
        </div>
    </div>

    <h3>Building blocks</h3>
    <ul>
        <li>Small - 366x248</li>
        <li>Medium vertical - 366x506</li>
        <li>Medium horizontal - 742x248</li>
        <li>Large - 742x506</li>
    </ul>
</div>

include 'footer.html'
