include 'header.html'

<div class="container">
    <h2>Modal</h2>

    <p>BrightTALK modal uses <a href="http://getbootstrap.com/javascript/#modals">Bootstrap Modals</a> with some simple variable overloading and additional header elements.</p>

    <div class="modal example-modal exampleModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
                <span class="main-message">You are confirmed to attend for free on BrightTALK!</span><br>
                Save to your calendar to make sure you don't miss the live event</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <h3>Live demo</h3>
    <button id="modalDemoButton" class="btn btn-primary">Launch modal</button>

    <div class="modal-open liveDemoModal">
        <div class="modal liveDemoModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">
                      <span class="main-message">You are confirmed to attend for free on BrightTALK!</span><br>
                      Save to your calendar to make sure you don't miss the live event</h4>
              </div>
              <div class="modal-body">
                <p>One fine body&hellip;</p>
              </div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal-backdrop liveDemoModalBackdrop liveDemoModal in"></div>
</div>

include 'footer.html'
