include 'header.html'

<div class="container">
    <h2>Preregistration confirmation</h2>

    <span class="prereg-confirmation">Your place is confirmed,<br class="visible-xs"> we'll send you email reminders</span>

    <code class="code-example">&lt;span class="prereg-confirmation"&gt;Your place is confirmed,
        &lt;br class="visible-xs"&gt; we'll send you email reminders&lt;/span&gt;</code>
</div>

include 'footer.html'
