include 'header.html'

<div class="container">
    <h2>Profile card</h2>

    <p>The BrightTALK profile card displays a silhouette image of a user alongside the user's name, job title, company name and country.</p>

    <div style="width: 300px">
        <div class="profile-card">
            <div class="profile-card-image-wrapper"></div>
            <ul class="profile-card-details">
                <li class="profile-card-detail profile-card-name">John Smith</li>
                <li class="profile-card-detail profile-card-job-title">Sales executive</li>
                <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
                <li class="profile-card-detail profile-card-country">United Kingdom</li>
            </ul>
        </div>
    </div>

    <h3>Profile card with add photo button</h3>

    <div style="width: 300px">
        <div class="profile-card">
            <div class="profile-card-image-wrapper profile-card-add-photo">
                <form class="profile-card-image-form">
                    <input type="file" class="profile-card-upload-photo-button">
                    <b class="fa fa-camera"></b>Add a photo
                </form>
            </div>
            <ul class="profile-card-details">
                <li class="profile-card-detail profile-card-name">John Smith</li>
                <li class="profile-card-detail profile-card-job-title">Sales executive</li>
                <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
                <li class="profile-card-detail profile-card-country">United Kingdom</li>
            </ul>
        </div>
    </div>

    <h3>Profile card during photo upload</h3>

    <div style="width: 300px">
        <div class="profile-card">
            <div class="profile-card-photo-upload-icon-wrapper">
                <div class="profile-card-photo-upload-icon"><b class="fa fa-spinner fa-spin"></b></div>
            </div>
            <ul class="profile-card-details">
                <li class="profile-card-detail profile-card-name">John Smith</li>
                <li class="profile-card-detail profile-card-job-title">Sales executive</li>
                <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
                <li class="profile-card-detail profile-card-country">United Kingdom</li>
            </ul>
        </div>
    </div>

    <h3>Profile card with extreme data</h3>

    <p>If the text in the card is too long for the available width, the user's name will wrap to two lines and other details will truncate. All details, truncated or not, have a tooltip.</p>

    <div style="width: 300px">
        <div class="profile-card">
            <div class="profile-card-image-wrapper"></div>
            <ul class="profile-card-details">
                <li class="profile-card-detail profile-card-name" title="John Mark Luke Matthew Smith James Patrick Stewie Jones">John Mark Luke Matthew Smith James Patrick Stewie Andrew Jones</li>
                <li class="profile-card-detail profile-card-job-title" title="Sales executive in some other department">Sales executive in some other department</li>
                <li class="profile-card-detail profile-card-company-name" title="BrightTALK Webinars &amp; Video Company">BrightTALK Webinars &amp; Video Company</li>
                <li class="profile-card-detail profile-card-country" title="England, United Kingdom, Europe, Earth, Milky Way">England, United Kingdom, Europe, Earth, Milky Way</li>
            </ul>
        </div>
    </div>

    <p>Extreme data that contains no spaces.</p>

    <div style="width: 300px">
        <div class="profile-card">
            <div class="profile-card-image-wrapper"></div>
            <ul class="profile-card-details">
                <li class="profile-card-detail profile-card-name" title="John Mark Luke Matthew Smith James Patrick Stewie Jones">JohnMarkLukeMatthewSmithJamesPatrickStewieAndrewJones</li>
                <li class="profile-card-detail profile-card-job-title" title="Sales executive in some other department">Salesexecutiveinsomeotherdepartment</li>
                <li class="profile-card-detail profile-card-company-name" title="BrightTALK Webinars &amp; Video Company">BrightTALKWebinars&amp;VideoCompany</li>
                <li class="profile-card-detail profile-card-country" title="England, United Kingdom, Europe, Earth, Milky Way">EnglandUnitedKingdomEuropeEarthMilkyWay</li>
            </ul>
        </div>
    </div>


    <h3>Profile card with some data undefined</h3>

    <p>If some details are not defined, the areas where the usual space for these details will collapse.</p>

    <div style="width: 300px">
        <div class="profile-card">
            <div class="profile-card-image-wrapper"></div>
            <ul class="profile-card-details">
                <li class="profile-card-detail profile-card-name" title="John Smith">John Smith</li>
                <li class="profile-card-detail profile-card-job-title" title=""></li>
                <li class="profile-card-detail profile-card-company-name" title=""></li>
                <li class="profile-card-detail profile-card-country" title="United Kingdom">United Kingdom</li>
            </ul>
        </div>
    </div>

    <h3>Profile card with uploaded picture</h3>

    <p>The BrightTALK profile card displays an uploaded photo image of a user alongside the user's name, job title, company name and country.</p>

    <div style="width: 300px">
        <div class="profile-card">
            <div class="profile-card-image-wrapper">
                <img class="profile-card-image" src="images/user-uploaded-photo-colour-160x160.jpg" alt="">
            </div>
            <ul class="profile-card-details">
                <li class="profile-card-detail profile-card-name">John Smith</li>
                <li class="profile-card-detail profile-card-job-title">Sales executive</li>
                <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
                <li class="profile-card-detail profile-card-country">United Kingdom</li>
            </ul>
        </div>
    </div>

    <p>Displaying the option to remove the photo.</p>

    <div style="width: 300px">
        <div class="profile-card">
            <div class="profile-card-image-wrapper">
                <img class="profile-card-image" src="images/user-uploaded-photo-colour-160x160.jpg" alt="">
                <button class="profile-card-image-options-button"><b class="fa fa-camera"></b></button>
                <div class="profile-card-image-options profile-card-image-options-hidden">
                    <button class="profile-card-image-options-remove-button profile-card-image-options-option-button btn btn-danger btn-block">Remove</button>
                    <button class="profile-card-image-options-cancel-button profile-card-image-options-option-button btn btn-tertiary btn-block">Cancel</button>
                </div>
            </div>
            <ul class="profile-card-details">
                <li class="profile-card-detail profile-card-name">John Smith</li>
                <li class="profile-card-detail profile-card-job-title">Sales executive</li>
                <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
                <li class="profile-card-detail profile-card-country">United Kingdom</li>
            </ul>
        </div>
    </div>

    <h2>Vertical profile card</h2>

    <p>The BrightTALK profile card displays a silhouette image of a user alongside the user's name, job title, company name and country.</p>

    <div class="profile-card profile-card-vertical">
        <div class="profile-card-image-wrapper"></div>
        <ul class="profile-card-details">
            <li class="profile-card-detail profile-card-name">John Smith</li>
            <li class="profile-card-detail profile-card-job-title">Sales executive</li>
            <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
            <li class="profile-card-detail profile-card-country">United Kingdom</li>
        </ul>
    </div>

    <h3>Profile card with add photo button</h3>

    <div class="profile-card profile-card-vertical">
        <div class="profile-card-image-wrapper profile-card-add-photo">
            <form class="profile-card-image-form">
                <input type="file" class="profile-card-upload-photo-button">
                <b class="fa fa-camera"></b>Add a photo
            </form>
        </div>
        <ul class="profile-card-details">
            <li class="profile-card-detail profile-card-name">John Smith</li>
            <li class="profile-card-detail profile-card-job-title">Sales executive</li>
            <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
            <li class="profile-card-detail profile-card-country">United Kingdom</li>
        </ul>
    </div>

    <h3>Profile card during photo upload</h3>

    <div class="profile-card profile-card-vertical">
        <div class="profile-card-photo-upload-icon-wrapper">
            <div class="profile-card-photo-upload-icon"><b class="fa fa-spinner fa-spin"></b></div>
        </div>
        <ul class="profile-card-details">
            <li class="profile-card-detail profile-card-name">John Smith</li>
            <li class="profile-card-detail profile-card-job-title">Sales executive</li>
            <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
            <li class="profile-card-detail profile-card-country">United Kingdom</li>
        </ul>
    </div>

    <h3>Profile card with extreme data</h3>

    <p>The text in the vertical card will wrap to multiple lines and does not truncate. All details have a tooltip.</p>

    <div class="profile-card profile-card-vertical">
        <div class="profile-card-image-wrapper"></div>
        <ul class="profile-card-details">
            <li class="profile-card-detail profile-card-name"
                title="John Mark Luke Matthew Smith James Patrick Stewie Jones">John Mark Luke Matthew Smith James Patrick
                Stewie Andrew Jones
            </li>
            <li class="profile-card-detail profile-card-job-title" title="Sales executive in some other department">Sales
                executive in some other department
            </li>
            <li class="profile-card-detail profile-card-company-name" title="BrightTALK Webinars &amp; Video Company">
                BrightTALK Webinars &amp; Video Company
            </li>
            <li class="profile-card-detail profile-card-country" title="England, United Kingdom, Europe, Earth, Milky Way">
                England, United Kingdom, Europe, Earth, Milky Way
            </li>
        </ul>
    </div>

    <p>Extreme data that contains no spaces.</p>

    <div class="profile-card profile-card-vertical">
        <div class="profile-card-image-wrapper"></div>
        <ul class="profile-card-details">
            <li class="profile-card-detail profile-card-name" title="John Mark Luke Matthew Smith James Patrick Stewie Jones">JohnMarkLukeMatthewSmithJamesPatrickStewieAndrewJones</li>
            <li class="profile-card-detail profile-card-job-title" title="Sales executive in some other department">Salesexecutiveinsomeotherdepartment</li>
            <li class="profile-card-detail profile-card-company-name" title="BrightTALK Webinars &amp; Video Company">BrightTALKWebinars&amp;VideoCompany</li>
            <li class="profile-card-detail profile-card-country" title="England, United Kingdom, Europe, Earth, Milky Way">EnglandUnitedKingdomEuropeEarthMilkyWay</li>
        </ul>
    </div>


    <h3>Profile card with some data undefined</h3>

    <p>If some details are not defined, the areas where the usual space for these details will collapse.</p>


    <div class="profile-card profile-card-vertical">
        <div class="profile-card-image-wrapper"></div>
        <ul class="profile-card-details">
            <li class="profile-card-detail profile-card-name" title="John Smith">John Smith</li>
            <li class="profile-card-detail profile-card-job-title" title=""></li>
            <li class="profile-card-detail profile-card-company-name" title=""></li>
            <li class="profile-card-detail profile-card-country" title="United Kingdom">United Kingdom</li>
        </ul>
    </div>


    <h3>Profile card with uploaded picture</h3>

    <p>The BrightTALK profile card displays an uploaded photo image of a user alongside the user's name, job title, company name and country.</p>

    <div class="profile-card profile-card-vertical">
        <div class="profile-card-image-wrapper">
            <img class="profile-card-image" src="images/user-uploaded-photo-colour-320x320.jpg" alt="">
        </div>
        <ul class="profile-card-details">
            <li class="profile-card-detail profile-card-name">John Smith</li>
            <li class="profile-card-detail profile-card-job-title">Sales executive</li>
            <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
            <li class="profile-card-detail profile-card-country">United Kingdom</li>
        </ul>
    </div>

    <p>Displaying the option to remove the photo.</p>

    <div class="profile-card profile-card-vertical">
        <div class="profile-card-image-wrapper">
            <img class="profile-card-image" src="images/user-uploaded-photo-colour-320x320.jpg" alt="">
            <button class="profile-card-image-options-button"><b class="fa fa-camera"></b></button>
            <div class="profile-card-image-options profile-card-image-options-hidden">
                <button class="profile-card-image-options-remove-button profile-card-image-options-option-button btn btn-danger btn-block">
                    Remove
                </button>
                <button
                    class="profile-card-image-options-cancel-button profile-card-image-options-option-button btn btn-tertiary btn-block">
                    Cancel
                </button>
            </div>
        </div>
        <ul class="profile-card-details">
            <li class="profile-card-detail profile-card-name">John Smith</li>
            <li class="profile-card-detail profile-card-job-title">Sales executive</li>
            <li class="profile-card-detail profile-card-company-name">BrightTALK</li>
            <li class="profile-card-detail profile-card-country">United Kingdom</li>
        </ul>
    </div>

    <h3>JavaScript file</h3>

    <p>A profile card JavaScript file is required:</p>

    <code>&lt;script type="text/javascript" src="path/to/script/profile-card.js"&gt;&lt;/script&gt;</code>
</div>

include 'footer.html'
