include 'header.html'

<div class="container">
    <h2>Profile area</h2>

    <h3>Profile area with the default photo</h3>
    <p>The site-wide BrightTALK profile area (user logged in)</p>

    <div class="profile-area">
        <button class="jsProfileMenuToggleButton profile-menu-toggle-button">
            <img class="profile-area-user-image" src="../images/profile-area-user-image.png" title="Sephiroth Crescent">
        </button>
        <nav class="profile-menu">
            <span class="profile-menu-user-name">Hi Sephiroth</span>
            <ul class="profile-menu-options">
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">Channel I own</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">My feed</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">My viewing history</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">My channels</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">Edit profile</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <h3>Profile menu with user's photo</h3>

    <div class="profile-area">
        <button class="jsProfileMenuToggleButton profile-menu-toggle-button">
            <img class="profile-area-user-image" src="images/user-uploaded-photo-colour-160x160.jpg" title="Sephiroth Crescent">
        </button>
        <nav class="profile-menu">
            <span class="profile-menu-user-name">Hi Sephiroth</span>
            <ul class="profile-menu-options">
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">Channel I own</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">My feed</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">My viewing history</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">My channels</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">Edit profile</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <h3>Profile menu with alert icon displayed</h3>

    <div class="profile-area">
        <button class="jsProfileMenuToggleButton profile-menu-toggle-button">
            <img class="profile-area-user-image" src="../images/profile-area-user-image.png" title="Sephiroth Crescent">
            <i class="fa fa-asterisk profile-area-notification-icon"></i>
        </button>
        <nav class="profile-menu">
            <span class="profile-menu-user-name">Hi Sephiroth</span>
            <ul class="profile-menu-options">
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">Channel I own</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">My feed</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">My viewing history</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">My channels</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">Edit profile</span>
                    </a>
                </li>
                <li class="profile-menu-option">
                    <a class="profile-menu-option-link" href="#">
                        <span class="profile-menu-option-link-text">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <h3>Profile menu during photo upload</h3>

    <div class="profile-area">
        <div class="profile-area-user-image-upload-icon-wrapper">
            <div class="profile-area-user-image-upload-icon"><b class="fa fa-spinner fa-spin"></b></div>
        </div>
    </div>

    <p>A profile menu JavaScript file is required:</p>

    <code class="code-example">&lt;script type="text/javascript" src="path/to/script/profile-area.js"&gt;&lt;/script&gt;</code>
</div>

include 'footer.html'
