include 'header.html'

<div class="container">

    <div class="demo-section">

        <h2>Tags</h2>

        <div class="tag">
            This is a tag
        </div>

        <br>

        <div class="tag">
            This is a tag with close button <button class="tag-remove"><i class="fa fa-close"></i></button>
        </div>
    </div>

    <div class="demo-section">
        <code class="code-example">
&#x3C;div class=&#x22;tag&#x22;&#x3E;
    This is a tag
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;tag&#x22;&#x3E;
    This is a tag with close button &#x3C;button class=&#x22;tag-remove&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-close&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/button&#x3E;
&#x3C;/div&#x3E;
        </code>
    </div>

</div>

include 'footer.html'
