include 'header.html'

<div class="container">
    <h2>Typography</h2>

    <h3>First level headline</h3>

    <h1 class="first-level-headline">This is Sparta</h1>

    <code>&lt;h1 class=&quot;first-level-headline&quot;&gt;This is Sparta&lt;/h1&gt;</code>

    <h3>Second level headline</h3>

    <h2 class="second-level-headline">This is Sparta</h2>

    <code>&lt;h1 class=&quot;first-level-headline&quot;&gt;This is Sparta&lt;/h1&gt;</code>
</div>

include 'footer.html'
