include 'header.html'

<div class="container">
    <h2>Webcast cards</h2>


    <div style="margin-bottom: 100px; margin-top:50px">
        <h3>Built-in support for variable thumbnail ratios</h3>
        <div class="webcast-card">
            <a href="http://www.brighttalk.com/webcast/12821/234561" class="webcast-details">
                <div class="webcast-thumbnail-wrapper">
                    <img class="webcast-thumbnail" alt="IT Trends for 2017" src="https://lorempixel.com/100/50/">
                </div>
                <span class="webcast-title">Thumbnails look awesome at free ratio</span>
                <span class="webcast-presenters">Chuch Norris</span>
                <span class="webcast-start-date" title="Start date">Dec 14 2030 1:00 am</span>
                <span class="webcast-duration" title="Duration">60 mins</span>
            </a>
        </div>
        <h3>Upcoming/Recorded webcasts</h3>
        <hr>
        <div style="margin-bottom:50px">
            <div class="webcast-card">
                <a href="http://www.brighttalk.com/webcast/12821/234561" class="webcast-details">
                    <div class="webcast-thumbnail-wrapper">
                        <img class="webcast-thumbnail" alt="IT Trends for 2017" src="https://www.brighttalk.com/communication/234561/thumbnail_1479415974442.png">
                    </div>
                    <span class="webcast-title">IT Trends for 2017</span>
                    <span class="webcast-presenters">Hu Yoshida, Vice President and Chief Technology Officer, Hitachi Data Systems</span>
                    <span class="webcast-start-date" title="Start date">Dec 14 2030 1:00 am</span>
                    <span class="webcast-duration" title="Duration">60 mins</span>
                </a>
            </div>
            <hr>
        </div>
        <h3>Live webcasts</h3>
        <hr>
        <div class="webcast-card">
            <a href="http://www.brighttalk.com/webcast/12821/234561" class="webcast-details">
                <div class="webcast-thumbnail-wrapper">
                    <img class="webcast-thumbnail" alt="IT Trends for 2017" src="https://www.brighttalk.com/communication/234561/thumbnail_1479415974442.png">
                </div>
                <span class="webcast-title">IT Trends for 2017</span>
                <span class="webcast-presenters">Hu Yoshida, Vice President and Chief Technology Officer, Hitachi Data Systems</span>
                <span class="webcast-live-label">Live</span>
                <span class="webcast-start-date" title="Start date">Dec 14 2030 1:00 am</span>
                <span class="webcast-duration" title="Duration">60 mins</span>
            </a>
        </div>
        <hr>
    </div>

    <h3>Upcoming/Recorded webcasts</h3>
    <div style="margin-bottom:50px">
        <code class="code-example">
        &lt;div class=&quot;webcast-card&quot;&gt;
            &lt;a href=&quot;http://www.brighttalk.com/webcast/12821/234561&quot; class=&quot;webcast-details&quot;&gt;
                &lt;div class=&quot;webcast-thumbnail-wrapper&quot;&gt;
                    &lt;img class=&quot;webcast-thumbnail&quot; alt=&quot;IT Trends for 2017&quot; src=&quot;https://www.brighttalk.com/communication/234561/thumbnail_1479415974442.png&quot;&gt;
                &lt;/div&gt;
                &lt;span class=&quot;webcast-title&quot;&gt;IT Trends for 2017&lt;/span&gt;
                &lt;span class=&quot;webcast-presenters&quot;&gt;Hu Yoshida, Vice President and Chief Technology Officer, Hitachi Data Systems&lt;/span&gt;
                &lt;span class=&quot;webcast-start-date&quot; title=&quot;Start date&quot;&gt;Dec 14 2030 1:00 am&lt;/span&gt;
                &lt;span class=&quot;webcast-duration&quot; title=&quot;Duration&quot;&gt;60 mins&lt;/span&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        </code>
    </div>

    <h3>Live webcasts</h3>
    <code class="code-example">
    &lt;div class=&quot;webcast-card&quot;&gt;
        &lt;a href=&quot;http://www.brighttalk.com/webcast/12821/234561&quot; class=&quot;webcast-details&quot;&gt;
            &lt;div class=&quot;webcast-thumbnail-wrapper&quot;&gt;
                &lt;img class=&quot;webcast-thumbnail&quot; alt=&quot;IT Trends for 2017&quot; src=&quot;https://www.brighttalk.com/communication/234561/thumbnail_1479415974442.png&quot;&gt;
            &lt;/div&gt;
            &lt;span class=&quot;webcast-title&quot;&gt;IT Trends for 2017&lt;/span&gt;
            &lt;span class=&quot;webcast-presenters&quot;&gt;Hu Yoshida, Vice President and Chief Technology Officer, Hitachi Data Systems&lt;/span&gt;
            &lt;span class=&quot;webcast-live-label&quot;&gt;Live&lt;/span&gt;
            &lt;span class=&quot;webcast-start-date&quot; title=&quot;Start date&quot;&gt;Dec 14 2030 1:00 am&lt;/span&gt;
            &lt;span class=&quot;webcast-duration&quot; title=&quot;Duration&quot;&gt;60 mins&lt;/span&gt;
        &lt;/a&gt;
    &lt;/div&gt;
    </code>

</div>

include 'footer.html'
