.attendees {

    .attendees-header {

        line-height: 28px;
        overflow: hidden;

        .attendees-title {

            font-size: @font-size-base;
            font-weight: normal;
        }

        .show-more-attendees-loading-icon-wrapper {

            text-align: right;

            .show-more-attendees-loading-icon {

                font-size: @font-size-xx-large;
            }
        }

        .show-more-attendees-button {

            background: none;
            border: 0;
            color: @brand-primary;
            cursor: pointer;
            text-align: right;

            .show-more-attendees-text {

                display: inline-block;
                font-size: @font-size-base;
                vertical-align: middle;

                &:hover {

                    text-decoration: underline;
                }
            }

            .show-more-attendees-icon {

                font-size: @font-size-xx-large;
                margin-left: 2px;
                vertical-align: middle;
            }
        }
    }

    .profile-cards {

        min-height: 208px;

        .profile-card-wrapper {

            margin: 6px 0;
        }
    }

    .opt-out-controls {

        text-align: right;

        .opt-out-button {

            .btn;
            .btn-tertiary;
            .btn-block;
        }
    }
}

@media (min-width: @screen-sm) {

    .attendees {

        .opt-out-controls {

            .opt-out-button {

                .btn-link;
                .btn-sm;

                background: none;
                border: 0;
                display: inline-block;
                padding-right: 0;
                width: auto;

                &:hover {

                    background: none;
                    color: @primary-text;
                    text-decoration: underline;
                }

                &:focus {

                    outline: none;

                    &:active {

                        background: none;
                        outline: none;
                    }
                }
            }
        }
    }
}
