.badge {

    background: @background;
    color: @secondary;
    display: inline-block;
    font-size: @font-size-base;
    font-weight: normal;
    line-height: 1;
    padding: 3px 7px;

    &.primary {

        background: @brand-primary;
        color: @light-contrast;
    }

    &.secondary {

        background: @primary-text;
        color: @light-contrast;
    }

    &.task {

        background: @task;
        color: @light-contrast;
    }

    &.danger {

        background: @danger-alt;
        color: @light-contrast;
    }
}
