* {

    list-style: none;
    margin: 0;
    padding: 0;
}

body {

    background: @background;
    box-sizing: @box-sizing;
    color: @primary-text;
    font-size: @font-size-base;
    line-height: @line-height;
    margin: 0;
    padding: 0;
}

body,
button,
textarea,
input {

    font-family: @font-family;
}
