@import 'bower_components/bootstrap/less/mixins/tab-focus';
@import 'bower_components/bootstrap/less/mixins/buttons';
@import 'bower_components/bootstrap/less/buttons';

.btn {

    -webkit-appearance: none;

    &.btn-toggle {

        .btn;
        .btn-secondary;

        &.active {

            .btn-tertiary;
        }

        &.btn-toggle-on {

            .btn-tertiary;

            [class^="fa-"],
            [class*=" fa-"] {

                &:before {

                    content: @fa-var-check;
                }
            }
        }
    }

    &.full-width-xs {

        width: 100%;
    }
}

.btn-secondary {

    .button-variant(@light-contrast; @secondary; darken(@secondary, 5%));
}
.btn-tertiary {

    .button-variant(@secondary-alt; @tertiary; darken(@tertiary, 5%));
}
.btn-task {

    .button-variant(@light-contrast; @task; darken(@task, 5%));
}

@media (min-width: @screen-sm) {

    .btn {

        &.full-width-xs {

            width: auto;
        }
    }
}
