.chkbox {

    background: url("@{StyleGuideImagePath}/images/chkbox-sprite-20x100.png") no-repeat;
    color: @font-color;
    cursor: pointer;
    display: inline-block;
    line-height: 20px; //matches the height of the sprite for text alignment
    margin: 0;
    padding-left: 25px;

    input[type="checkbox"] {

        filter: alpha(opacity=0); //for IE6/7
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; //for IE8
        height: 0;
        opacity: 0;
        width: 0;
    }

    &.chkbox-checked {

        background-position: 0 -80px;
    }
}
a.chkbox {

    text-decoration: none;
}
