@import 'bower_components/bootstrap/less/mixins/reset-filter';
@import 'bower_components/bootstrap/less/mixins/nav-divider';
@import 'bower_components/bootstrap/less/dropdowns';

.dropdown {

    &.full-width-xs {

        .btn {

            .btn.full-width-xs;
        }

        .dropdown-menu {

            width: 100%;
        }
    }

    .fa {

        padding-left: 5px;
    }

    .dropdown-menu {

        .fa {

            float: left;
            font-size: 22px;
            margin-right: 15px;
            padding-left: 0;
            width: 20px;
        }
    }
}

@media (min-width: @screen-sm) {

    .dropdown {

        &.full-width-xs {

            .btn,
            .dropdown-menu {

                width: auto;
            }
        }
    }
}
