@BrightTALKFontPath: "../fonts";

@font-face{
    font-family: "BrightTALK";
    src: url("@{BrightTALKFontPath}/HelveticaNeueW01-55Roma.eot?#iefix");
    src: url("@{BrightTALKFontPath}/HelveticaNeueW01-55Roma.eot?#iefix") format("eot"), url("@{BrightTALKFontPath}/HelveticaNeueW01-55Roma.woff") format("woff"), url("@{BrightTALKFontPath}/HelveticaNeueW01-55Roma.ttf") format("truetype"), url("@{BrightTALKFontPath}/HelveticaNeueW01-55Roma.svg#fonts/HelveticaNeueW01-55Roma") format("svg");
}
@font-face{
    font-family: "BrightTALK";
    font-weight: bold;
    src: url("@{BrightTALKFontPath}/HelveticaNeueW01-75Bold.eot?#iefix");
    src: url("@{BrightTALKFontPath}/HelveticaNeueW01-75Bold.eot?#iefix") format("eot"), url("@{BrightTALKFontPath}/HelveticaNeueW01-75Bold.woff") format("woff"), url("@{BrightTALKFontPath}/HelveticaNeueW01-75Bold.ttf") format("truetype"), url("@{BrightTALKFontPath}/HelveticaNeueW01-75Bold.svg#fonts/HelveticaNeueW01-75Bold") format("svg");
}
