.site-footer {

    background: @background;
    color: @secondary-alt;
    font-size: @font-size-base;
    padding: 20px 0 0;
    text-align: center;

    .site-footer-headline {

        font-size: @font-size-large;
        line-height: 28px;
        margin: 0 0 20px;
        text-align: center;

        .site-footer-headline-link {

            color: @brand-primary;
            text-decoration: none;

            &:hover {

                text-decoration: underline;
            }
        }
    }

    .site-footer-link-list {

        list-style-type: none;
        padding: 0;

        .site-footer-link-list-item {

            margin: 0;

            .site-footer-link {

                border-top: 1px solid #fff;
                color: @secondary-alt;
                display: block;
                padding: 12px;
                text-decoration: none;

                &:hover {

                    color: @brand-primary;
                    text-decoration: underline;
                }
            }
        }
    }

    .site-footer-copyright {

        border-top: 1px solid #fff;
        margin: 0;
        padding: 12px;
    }
}

@media (min-width: @screen-sm-min) {

    .site-footer {

        font-size: @font-size-small;
        padding: 25px;

        .site-footer-headline {

            line-height: 1;
            margin: 0 0 65px;
        }

        .site-footer-link-list {

            .clearfix();
            margin: 0 auto 65px;

            .site-footer-link-list-item {

                display: inline-block;
                padding: 0 17px;

                .site-footer-link {

                    border: none;
                    display: inline;
                    padding: 0;
                }
            }
        }

        .site-footer-copyright {

            border: none;
            margin: 0 0 20px;
            padding: 0;
        }
    }
}
