@import "bower_components/bootstrap/less/mixins/grid-framework";
@import "bower_components/bootstrap/less/mixins/grid";
@import "bower_components/bootstrap/less/grid";

@column-spacing: 5px;

[class*="col-"] {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 @column-spacing;
}

.row {

    margin-left: -@column-spacing;
    margin-right: -@column-spacing;

    .clearfix();
}

.container {

    box-sizing: border-box;
    padding-left: @column-spacing;
    padding-right: @column-spacing;
}
