[class$="-level-headline"] {

    color: #818181;
    font-weight: normal;
}

[class$="-level-headline"] strong {

    font-weight: inherit;
}

.first-level-headline {

    clear: both;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 35px 0 35px;
    text-align: center;
}

.second-level-headline {

    font-size: 13px;
    letter-spacing: 0.05em;
    padding: 0 0 5px;
}

@media (min-width: 768px) {

    .first-level-headline {

        font-size: 32px;
        line-height: 1.4;
    }

    .second-level-headline {

        font-size: 18px;
    }
}

@media (min-width: 992px) {

    .first-level-headline {

        font-size: 42px;
    }
}

h1 {

    font-size: @font-size-x-large;
    font-weight: normal;
    margin: 0.5em 0;
}
