.brighttalk-form {

    input {

        .input();

        height: 20px;
    }

    select {

        &.error {

            border: 1px solid @error !important;
            color: @error;
        }
    }
}

.input-text {

    .input();

    color: @secondary;
    font-size: @font-size-base;

    &:focus {

        outline: none;
    }
}

.input-group {

    .input();

    display: inline-block;
    font-size: @font-size-base;

    .input-group-input {

        border: none;
        color: @secondary;
        padding-left: 5px;

        &:focus {

            outline: none;
        }
    }

    .input-group-icon {

        background: transparent;
        border: none;
        color: @secondary;
        display: inline-block;
        padding-right: 0.1em;
        padding-top: 0.1em;

        &:focus {

            outline: none;
        }

        [class*="fa-"] {

            color: @secondary;
        }
    }
}
