@joyride-spacing: 10px;
@joyride-arrow-width: 28px;
@joyride-arrow-height: 10px;
@joyride-width: 300px;

.joyride {

    position: absolute;

    * {
      box-sizing: @box-sizing;
    }

    .joyride-content {

        background: @secondary-alt;
        color: @light-contrast;
        margin-top: @joyride-arrow-height + 5px;
        padding: @joyride-spacing;
        position: relative;
        width: @joyride-width;

        &:before {

            border-bottom: @joyride-arrow-height solid #4d4d4d;
            border-left: (@joyride-arrow-width / 2) solid transparent;
            border-right: (@joyride-arrow-width / 2) solid transparent;
            content: '';
            height: 0;
            left: (@joyride-width / 2) - (@joyride-arrow-width / 2);
            position: absolute;
            top: -@joyride-arrow-height;
            width: 0;
        }

        .joyride-close-button-wrapper {

            line-height: 0;
            text-align: right;

            .joyride-close-button {

                font-size: 0;

                .joyride-close-button-icon {

                    .fa;

                    color: @tertiary;
                    font-size: @font-size-large;

                    &:before {

                        content: @fa-var-times;
                    }
                }
            }
        }

        .joyride-info {

            font-size: @font-size-base;
            padding: 0 @joyride-spacing @joyride-spacing;

            .joyride-title {

                font-weight: bold;
                line-height: 1.2;
                margin-bottom: @joyride-spacing;
                text-transform: uppercase;
            }

            .joyride-description {

                line-height: 1.2;
                margin-bottom: 15px;
            }
        }
    }
}
