@import "bower_components/bootstrap/less/variables";
@import "bower_components/bootstrap/less/mixins/grid-framework";
@import "bower_components/bootstrap/less/mixins/grid";
@import "bower_components/bootstrap/less/grid";

.metro-grid {

    clear: both;

    .metro-grid-tile {

        display: block;
        margin-bottom: 10px;
        position: relative;
        text-decoration: none;

        &.large,
        &.medium-h {

            .metro-grid-tile-name {

                font-size: 30px;
            }
        }

        &.medium-v {

            .metro-grid-tile-image {

                min-height: 214px;
            }
        }

        &.medium-v,
        &.small {

            .metro-grid-tile-name {

                font-size: 20px;
            }
        }

        .metro-grid-tile-image {

            border: 0;
            display: block;
            width: 100%;
        }

        .metro-grid-tile-name {

            .text-shadow();

            bottom: 0;
            color: #fff;
            left: 0;
            padding: 4px 4px 4px 8px;
            position: absolute;
        }
    }
}

@media (min-width: @screen-sm-min) {

    .metro-grid {

        .metro-grid-tile {

            &.medium-v,
            &.large {

                .metro-grid-tile-image {

                    min-height: 250px;
                    height: 250px;
                }
            }

            &.medium-h {

                .metro-grid-tile-image {

                    height: 120px;
                }
            }
        }
    }
}

@media (min-width: @screen-md-min) {

    .metro-grid {

        .metro-grid-tile {

            &.medium-v,
            &.large {

                .metro-grid-tile-image {

                    height: 326px;
                }
            }

            &.medium-h {

                .metro-grid-tile-image {

                    height: 158px;
                }
            }
        }
    }
}

@media (min-width: @screen-lg-min) {

    .metro-grid {

        .metro-grid-tile {

            &.medium-v,
            &.large {

                .metro-grid-tile-image {

                    height: 392px;
                }
            }

            &.medium-h {

                .metro-grid-tile-image {

                    height: 191px;
                }
            }
        }
    }
}
