.clearfix() {

    &:before,
    &:after {

        content: " ";
        display: table;
    }
    &:after {

        clear: both;
    }
}

.input() {

    background-color: white;
    border: 1px solid #ccc;
    outline: none;
    padding: 0.68em 1em;

    &:focus,
    &.focus {

        border: 1px solid @brand-primary;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    &.error {

        border: 1px solid @error !important;
        color: @error;

        &::-webkit-input-placeholder {

            color: @error-alt;
        }

        &:-moz-placeholder {

            color: @error-alt;
        }

        &::-moz-placeholder {

            color: @error-alt;
        }

        &:-ms-input-placeholder {

            color: @error-alt;
        }
    }

    &::-webkit-input-placeholder {

        color: @primary-text-alt;
        opacity: 1;
    }

    &:-moz-placeholder {

        color: @primary-text-alt;
        opacity: 1;
    }

    &::-moz-placeholder {

        color: @primary-text-alt;
        opacity: 1;
    }

    &:-ms-input-placeholder {

        color: @primary-text-alt;
        opacity: 1;
    }
}

.gradient(@startColor: @background, @endColor: @background-alt, @startColorPosition: 0%, @endColorPosition: 100%) {

    background: @startColor; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) @startColorPosition, rgba(255,255,255,1) @endColorPosition); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(@startColorPosition, @startColor), color-stop(@endColorPosition, @endColor)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @startColor @startColorPosition, @endColor @endColorPosition); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @startColor @startColorPosition, @endColor @endColorPosition); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @startColor @startColorPosition, @endColor @endColorPosition); /* IE10+ */
    background: linear-gradient(to bottom, @startColor @startColorPosition, @endColor @endColorPosition); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{startColor}', endColorstr='@{endColor}', GradientType=0); /* IE6-9 */
}

.text-shadow() {

    text-shadow: 0 0 2px @text-shadow-colour;
}
