@import "bower_components/bootstrap/less/mixins/opacity";
@import "bower_components/bootstrap/less/modals";

.modal-header {

    border: 0;
}

.modal-title {

    background: @background;
    font-size: @font-size-x-large;
    font-weight: normal;
    padding: 5px;
    text-align: center;

    .main-message {

      color: @task;
    }
}

.modal-body {

    min-height: 325px;
    padding-top: @modal-inner-padding + 20;
}
