@profile-card-image-size: 80px;
@profile-card-border-width: 1px;
@profile-card-vertical-image-size: 158px;
@profile-card-padding: 5px;
@profile-card-font-size: @font-size-small;
@profile-card-line-height: 1.4;
@profile-card-name-lines-to-show: 2;

.Grayscale {

    filter: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22grayscale%22%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.3333%2C0.3333%2C0.3333%2C0%2C0%2C0.3333%2C0.3333%2C0.3333%2C0%2C0%2C0.3333%2C0.3333%2C0.3333%2C0%2C0%2C0%2C0%2C0%2C1%2C0%22%2F%3E%3C%2Ffilter%3E%3C%2Fsvg%3E#grayscale);
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transform: translateZ(0);
}

.NoGrayscale {

    filter: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22grayscale%22%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%221%2C0%2C0%2C0%2C0%2C0%2C1%2C0%2C0%2C0%2C0%2C0%2C1%2C0%2C0%2C0%2C0%2C0%2C1%2C0%22%2F%3E%3C%2Ffilter%3E%3C%2Fsvg%3E#grayscale);
    -webkit-filter: grayscale(0%);
    -webkit-transform: translateZ(0);
}

.profile-card {

    background: #fff;
    border: @profile-card-border-width solid @tertiary;
    display: block;
    box-sizing: border-box;
    height: @profile-card-image-size + @profile-card-padding * 2 + @profile-card-border-width * 2;
    overflow: hidden;
    padding: @profile-card-padding;

    &.profile-card-vertical {

        border: 0;
        height: auto;
        padding: 0;
        width: @profile-card-vertical-image-size + @profile-card-border-width * 2;

        .profile-card-image-wrapper,
        .profile-card-photo-upload-icon-wrapper {

            border: @profile-card-border-width solid @tertiary;
            float: none;
            height: @profile-card-vertical-image-size + @profile-card-border-width * 2;
            margin-right: 0;
            text-align: center;
            width: @profile-card-vertical-image-size + @profile-card-border-width * 2;
        }

        .profile-card-image-wrapper {

            background: url("@{StyleGuideImagePath}/images/profile-image-sprite-158x316.png") no-repeat 0 0;
            box-sizing: border-box;

            .profile-card-image {

                height: @profile-card-vertical-image-size;
                width: @profile-card-vertical-image-size;
                .NoGrayscale;
            }

            .profile-card-image-options-button {

                bottom: 10px;
                font-size: 36px;
                right: 10px;
            }

            .profile-card-image-options {

                border: 0;

                .profile-card-image-options-option-button {

                    font-size: @font-size-large;
                    margin: 0;
                }
            }

            &.profile-card-add-photo {

                .profile-card-image-form {

                    font-size: @font-size-large;

                    .profile-card-upload-photo-button {

                        height: @profile-card-vertical-image-size + 20;
                        width: @profile-card-vertical-image-size;
                    }

                    .fa-camera {

                        font-size: 56px;
                        margin-bottom: 27px;
                        padding-top: 31px;
                    }
                }
            }
        }

        .profile-card-photo-upload-icon-wrapper {

            .profile-card-photo-upload-icon {

                line-height: @profile-card-vertical-image-size;
            }
        }

        .profile-card-details {

            .profile-card-detail {

                margin-bottom: 6px;
                white-space: normal;
                word-wrap: break-word;

                &:last-child {

                    margin-bottom: 0;
                }

                &:empty {
                    margin: 0;
                }
            }

            .profile-card-name {

                font-size: @font-size-base;
                margin: 7px 0;
                max-height: none;
            }
        }

        &:hover {

            border-color: #fff;
        }
    }

    &:hover {

        border-color: @primary-alt;

        .profile-card-image-wrapper {

            .profile-card-image {

                .NoGrayscale;
            }
        }
    }

    .profile-card-image-wrapper,
    .profile-card-photo-upload-icon-wrapper {

        float: left;
        height: @profile-card-image-size;
        margin-right: 10px;
        text-align: center;
        width: @profile-card-image-size;
    }

    .profile-card-image-wrapper {

        background: url("@{StyleGuideImagePath}/images/profile-image-sprite-80x160.png") no-repeat 0 0;
        overflow: hidden;
        position: relative;
        vertical-align: top;

        &.profile-card-add-photo {

            background-position: 0 100%;

            .profile-card-image-form {

                @input-file-element-offset: 20px;

                color: #fff;
                font-size: @font-size-small;
                text-align: center;

                .profile-card-upload-photo-button {

                    background: transparent;
                    border: 0;
                    cursor: pointer;
                    display: block;
                    filter: alpha(opacity=0);
                    height: @profile-card-image-size + @input-file-element-offset;
                    margin-top: -@input-file-element-offset;
                    opacity: 0;
                    outline: 0;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    width: @profile-card-image-size;
                }

                .fa-camera {

                    display: block;
                    font-size: 26px;
                    margin-bottom: 2px;
                    padding-top: @input-file-element-offset;
                }
            }
        }

        &.profile-card-change-photo {

            .profile-card-upload-photo-button {

                background: transparent;
                border: 0;
                bottom: 5px;
                cursor: pointer;
                display: block;
                filter: alpha(opacity=0);
                height: @profile-card-image-size / 4;
                opacity: 0;
                outline: 0;
                padding: 0;
                position: absolute;
                right: 5px;
                width: @profile-card-image-size / 4;
            }

            .fa-camera {

                display: block;
                font-size: @profile-card-image-size / 4;
            }
        }

        .profile-card-image {

            .Grayscale;
            height: @profile-card-image-size;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -ms-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
            width: @profile-card-image-size;
        }

        .profile-card-image-options-button {

            background: none;
            border: 0;
            bottom: 1px;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            outline: 0;
            padding: 1px;
            position: absolute;
            right: 3px;
            text-shadow: 0 0 1px #000;

            &.profile-card-image-options-button-hidden {

                display: none;
            }
        }

        .profile-card-image-options {

            background: @light-contrast;
            border: 1px solid @tertiary;
            box-sizing: border-box;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;

            &.profile-card-image-options-hidden {

                display: none;
            }

            .profile-card-image-options-option-button {

                border: 1px solid @light-contrast;
                height: 50%;
                margin: 0;
            }
        }
    }

    .profile-card-photo-upload-icon-wrapper {

        .profile-card-photo-upload-icon {

            background: @light-contrast;
            font-size: @loading-icon-size;
            line-height: @profile-card-image-size;
        }
    }

    .profile-card-details {

        display: block;

        .profile-card-detail {

            font-size: @profile-card-font-size;
            line-height: @profile-card-line-height;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .profile-card-name {

            @unadjusted-max-height: floor((@profile-card-font-size * @profile-card-line-height) * @profile-card-name-lines-to-show);;
            font-weight: bold;
            max-height: @unadjusted-max-height - mod(@unadjusted-max-height, 2);
            white-space: normal;
            word-wrap: break-word;
        }
    }
}
