.select {

    .input();

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url(../images/chevron-down.png);
    background-repeat: no-repeat;
    background-position: right center;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    color: #999;
    font-size: 14px;
    padding-right: 28px;

    outline: none;

    &.selected {

        color: @secondary;
    }

    &.error {

        color: @error-alt;
    }
}
