.tag {
    background-color: @tertiary;
    border: 1px solid transparent;
    border-color: darken(@tertiary, 5%);
    color: @secondary-alt;
    font-size: @font-size-base;
    line-height: @line-height-base;
    padding: @padding-base-vertical @padding-base-horizontal;

    .tag-remove {
        .btn;
        .btn-link;

        color: @secondary-alt;
        float: right;
        padding: 0;

    }
}
