@background: #F0F0F0;
@background-alt: #E0E0E0;

@primary-text: #4D4D4D; //off-black
@primary-text-alt: #999; //lighter off-black
@light-contrast: #fff; //white

@brand-primary: #270; //green
@primary-alt: #6c0; //light green

@secondary: #818181; //grey
@secondary-alt: #4D4D4D; //dark grey

@tertiary: #D7D7D7; //light grey
@tertiary-alt: @secondary; //same as secondary (grey)

@task: #FFA81F; //orange
@task-alt: #A8792B; //dark orange

@error: #F00; //red
@error-alt: #f99; //pink

@danger: #c00;
@danger-alt: #f00;

@font-family: "BrightTALK", arial, helvetica, sans-serif;

@font-color: #333;

@text-shadow-colour: #666;

@font-size-base: 14px;
@font-size-small: ceil(@font-size-base * 0.85); // ~12px
@font-size-medium: ceil(@font-size-base * 1.1); // ~16px
@font-size-large: ceil(@font-size-base * 1.25); // ~18px
@font-size-x-large: ceil(@font-size-base * 1.57); // ~22px
@font-size-xx-large: ceil(@font-size-base * 2); // ~28px
@line-height: 1.6;

@btn-border-radius-base: 0;
@btn-border-radius-large: 0;
@btn-border-radius-small: 0;

@box-sizing: border-box;

@loading-icon-size: 26px;
