.webcast-card{

    border-bottom: 1px solid #fff;
    display: block;
    color: inherit;
    font-size: 13px;
    overflow: hidden;
    padding: 10px 0 0;

    .webcast-details {
        color: inherit;
        display: block;
        margin-bottom: 10px;
        overflow: hidden;

        .webcast-title {
            display: block;
            font-size: 14px;
            font-weight: bold;
            height: auto;
            line-height: 17px;
            margin: 2px 0 12px;
            max-height: 51px;
            overflow: hidden;
            word-wrap: break-word;
        }

        .webcast-thumbnail-wrapper {
            float: left;
            margin-right: 9px;
            min-height: 83px;
        }

        .webcast-thumbnail {
            background: #EBEBEB;
            border: 1px solid #d7d7d7;
            padding: 3px;
            height: auto;
            width: 108px;
        }

        .webcast-duration {
            border-left: 1px solid #D7D7D7;
            float: left;
            font-size: 13px;
            font-weight: normal;
            line-height: 19px;
            margin-left: 15px;
            padding-left: 15px;
        }

        .webcast-start-date {
            border-left: 1px solid #D7D7D7;
            float: left;
            font-size: 13px;
            font-weight: normal;
            line-height: 19px;
            margin-left: 15px;
            padding-left: 15px;
            border: none;
            margin: 0;
            padding: 0;
        }

        .webcast-live-label {
            background: #FA0105;
            color: #FFF;
            float: left;
            height: 19px;
            line-height: 19px;
            margin-right: 5px;
            padding: 0 6px;
            text-align: center;
            text-transform: uppercase;
        }

        .webcast-presenters {
            display: block;
            line-height: 14px;
            margin-bottom: 12px;
            max-height: 14px;
            overflow: hidden;
        }
    }
}
